<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'static.js') }}" ></script>
   </head>
   
   <body>
      <form action = "/request_cookies_set" method = "POST">
         <p><h3>Enter userID</h3></p>
         <p><input type = 'text' name = 'myname'/></p>
         <p><input type = 'submit' value = 'Login'/></p>
      </form>
   </body>
</html>